In [1]:
# Dependencies
import json
# requestsimport os
import json, requests
import csv
import pandas as pd
import numpy as np
from random import shuffle
from datetime import datetime
import csv
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# Dependencies
from jinja2 import StrictUndefined
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm.exc import NoResultFound
from sqlalchemy import create_engine, func, literal_column

from flask import Flask, jsonify, render_template, redirect, request, flash, session

In [3]:
# MySQL Setup
#################################################

DB_CONN_URI_DEFAULT= "mysql://nchwjnkppsn6j4vj:s23q3vtsg2c0a4sv@o3iyl77734b9n3tg.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/zx309qzs0npjpbew?charset=utf8"

engine = create_engine(DB_CONN_URI_DEFAULT)


# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
print(Base.metadata.tables.keys())

# Save reference to the table
Restaurant = Base.classes.restaurants
ZipRequest = Base.classes.ziprequests
Search_Information = Base.classes.search_information
Users = Base.classes.usersdb
CuisineType = Base.classes.cuisinetype

sessiondb = Session(engine)

dict_keys(['Zipcodes', 'cuisinetype', 'price', 'rating', 'restaurants', 'search_information', 'usersdb', 'zipcodes', 'ziprequests'])

In [4]:
results = sessiondb.query(Restaurant).all()

data1 = []
for result in results:
    restaurant = {
        'name': result.name,
            'price': result.price,
            'zipcode': result.zipcode,
            'rating': float(result.rating),
            'reservations': result.reservations,
            'delivery': result.delivery,
            'cuisine': result.cuisine,         
    }
    data1.append(restaurant)
#     print(data1)

In [5]:
df = pd.DataFrame(data1)
df.head()

,cuisine,delivery,name,price,rating,reservations,zipcode
0,Italian,0,Cinque Terre Ristorante Italiano,$$,4.5,1,11746
1,Thai,0,New Chili & Curry,$$,4.5,0,11801
2,Japanese,0,Arata Sushi,$$,4.5,0,11791
3,Japanese,1,Sasa Hibachi Restaurant,$$,4.5,0,11735
4,Thai,0,Thai Flavors Kitchen,$$,4.5,0,11714

In [6]:
results = sessiondb.query(Search_Information).all()

data2 = []
for result in results:
    restaurant = {
        'userid': result.userid,
            'lastsearchdate':result.lastsearchdate,
            'yelpid': result.yelpid,
            'price': result.price,
            'zipcode': result.zipcode,
            'rating': float(result.rating),
            'reservations': result.reservations,
            'delivery': result.delivery,
            'cuisine': result.cuisine,
            'like': result.like
    }
    data2.append(restaurant)
#     print(data2)

In [7]:
df = pd.DataFrame(data2)
df.head()

,cuisine,delivery,lastsearchdate,like,price,rating,reservations,userid,yelpid,zipcode
0,Japanese,0,2018-01-26 01:36:48,1,$$$$,3.0,0,1,meo-hibachi-sushi-steakhouse-fresh-meadows,11366
1,Korean,0,2018-01-26 01:36:48,1,$$,4.0,0,1,picnic-garden-edison,08817
2,Korean,1,2018-01-26 01:36:48,1,$$,4.5,0,1,hanok-tofu-house-east-brunswick,08816
3,Italian,0,2018-01-26 01:36:48,1,$$$,4.0,0,1,novita-bistro-and-lounge-metuchen,08840
4,Mediterranean,0,2018-01-26 01:36:48,1,$$,4.0,0,1,the-orchid-restaurant-metuchen,08840